* {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #001821;
    box-sizing: border-box;
}

a {
    display: block;
    color: #001821;
    text-decoration: none;
}

section {
    padding: 0 15px;
}

.block-title {
    margin-bottom: 50px;
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
}

.btn {
    display: block;
    width: 270px;
    margin: 50px auto 0;
    padding: 12px 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #1A6782;
    background: none;
    border: 2px solid #1A6782;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s;
}

.btn:hover {
    color: #F4F6FA;
    background: #1A6782;
}

.modal {
    display: none;
    position: fixed;
    z-index: 8;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
}

.modal__content {
    background-color: #fefefe;
    margin: 5% auto;
    /* border: 1px solid #888; */
    width: 860px; 
}

.p70 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.pt70 {
    padding-top: 70px;
}

/*                  ---------- Header -----------                    */

header {
    display: block;
    /* Just for fun, ;) */
}

.header__top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-color: #1A6782;
}

.header__top__link {
    display: flex;
    align-items: center;
    line-height: 17px;
    color: #F4F6FA;
}

.header__top__icon {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.header__top__icon__lang {
    width: 11px;
    margin-left: 5px;
}

.header__body {
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.header__logo {
    margin-right: 15px;
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.logo img {
    width: 60px;
    height: 60px;
    margin: 10px 7px 10px 0;
}

.site-name {
    /* display: none; */
    width: 350px;
    vertical-align: middle;
    align-items: center;
    font-weight: 700;
    color: #001821;
    text-transform: uppercase;
}

.header__nav {
    /* display: none; */
    display: flex;
    flex-grow: 2;
    justify-content: space-between;
}

.dropdown {
    position: relative;
}

.dropdown__title {
    padding: 30px 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #001821;
    cursor: pointer;
    text-underline-offset: 5px;
}

.dropdown:hover>.dropdown__title {
    color: #1A6782;
    text-decoration: underline;
}

.dropdown:hover>.dropdown__child {
    display: block;
}

.dropdown__child {
    display: none;
    position: absolute;
    padding: 20px 20px 20px;
    background: #FFFFFF;
    box-shadow: 0px 10px 74px rgba(0, 0, 0, 0.1);
    z-index: 3;
}

.dropdown ul {
    columns: 2;
}

.dropdown__link {
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

/*     ---------- Hamburger menu ----------              */

.header__nav__burger {
    display: none;
    /* display: flex; */
    width: 100%;
    justify-content: flex-end;
}

nav {
    height: 41px;
    padding: 0 16px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: end;
    /* fade in checked menu */
}

nav .m-menu__checkbox {
    display: none;
}

nav label.m-menu__toggle {
    cursor: pointer;
}

nav .m-menu {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 450px;
    width: calc(100vw - 30px);
    height: 100%;
    -moz-transform: translate3d(calc(-100vw), 0, 0);
    -o-transform: translate3d(calc(-100vw), 0, 0);
    -ms-transform: translate3d(calc(-100vw), 0, 0);
    -webkit-transform: translate3d(calc(-100vw), 0, 0);
    transform: translate3d(calc(-100vw), 0, 0);
    -moz-transition: transform 0.35s;
    -o-transition: transform 0.35s;
    -webkit-transition: transform 0.35s;
    transition: transform 0.35s;
    z-index: 1;
    overflow: hidden;
    background-color: #fff;
}

nav .m-menu__overlay {
    background-color: rgba(103, 103, 103, 0.5);
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 0;
    z-index: 1;
    display: none;
}

nav .m-menu__header {
    padding: 0 16px;
    height: 41px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: space-around;
    -webkit-align-items: center;
    align-items: center;
    border-bottom: 1px solid #e8e8e8;
}

nav .m-menu__header span {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

nav .m-menu .m-menu {
    -moz-transform: translate3d(480px, 0, 0);
    -o-transform: translate3d(480px, 0, 0);
    -ms-transform: translate3d(480px, 0, 0);
    -webkit-transform: translate3d(480px, 0, 0);
    transform: translate3d(480px, 0, 0);
}

nav .m-menu ul {
    height: 100%;
    overflow-y: auto;
}

nav .m-menu ul li a,
nav .m-menu ul li label {
    display: block;
    text-align: left;
    padding: 0 15px;
    line-height: 47px;
    text-decoration: none;
    color: #333;
    cursor: pointer;
    font-size: 1rem;
    border-bottom: 1px solid #e8e8e8;
    position: relative;
}

nav .m-menu ul li label.a-label__chevron::after {
    content: '';
    position: absolute;
    display: inline-block;
    height: 10px;
    width: 10px;
    border-color: #333;
    border-style: solid;
    border-width: 3px 3px 0 0;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 50%;
    margin-top: -5px;
    right: 16px;
}

nav .m-menu ul li .-invisible {
    border-bottom: 0;
}

nav .m-menu .m-menu label.m-menu__toggle {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    border-bottom: 0;
    padding: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

nav .m-menu__checkbox:checked ~ .m-menu__overlay {
    display: block;
}

nav .m-menu__checkbox:checked ~ .m-menu {
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
  
.m-menu-icon {
    color: #6543ab;
    margin-right: 10px;
}
  
.m-menu-hamburger-icon {
    color: #fff;
    font-size: 24px;
}
  
.m-menu-header-icon {
    font-size: 24px;
}
  
.m-menu-header2-icon {
    font-size: 20px;
}
  


/*                  ---------- Slider -----------                    */

#slider1 {
    width: 100%;
    max-height: 86vh;
}

.slider__item1 img{
    background:url(../img/slide/slide1.jpg) no-repeat center center/cover;
}

.slider__item2{
    background:url(../img/slide/slide2.jpg) no-repeat center center/cover;
}

.slider__item3{
    background:url(../img/slide/slide3.jpg) no-repeat center center/cover;
}

.slider__item4{
    background:url(../img/slide/slide4.jpg) no-repeat center center/cover;
}

#slider1 img {
    max-width: 100%;
    object-position: center;
    height: auto;
}


/*                  ---------- Subdivisions -----------                    */


.subdivisions {
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-between;
}

.subdivision {
    width: 370px;
    height: 350px;
    position: relative;
    border-radius: 10px;
}

.subdivision__img {
    width: 100%;
    height: 100%;
}

.subdivision__shade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1A6782;
    opacity: 0.65;
    border-radius: 10px;
}

.subdivision__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 20px;
    color: #F4F6FA;
}

.subdivision__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #F4F6FA;
}

.subdivision__links {
    padding-right: 10px;
}

.subdivision__link {
    margin-top: 12px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #F4F6FA;
    transition: font-weight .1s;
}

.subdivision__link:first-child {
    margin-top: 0;
}

.subdivision__link:hover {
    font-weight: 600;
}


/*                  ---------- welcome block -----------                    */

.welcome-block {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #EBF5F9;
}

.welcome-block__desc {
    width: 48%;
}

.welcome-block__title {
    margin-bottom: 22px;
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
}

.welcome-block__text {
    max-width: 470px;
    font-size: 18px;
    line-height: 22px;
}

#txt-hide {
    display: none;
    transition: all 5s ease-in-out;
}

.welcome-block__more {
    margin-top: 15px;
    padding: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #1A6782;
    border: none;
    background: none;
    text-underline-offset: 5px;
    cursor: pointer;
    transition: text-decoration .2s;
}

.welcome-block__more:hover {
    text-decoration: underline;
}

.welcome-block__prev {
    position: relative;
}

.welcome-block__prev img {
    width: 570px;
}

.welcome-block__play {
    position: absolute;
    width: 85px;
    height: 85px;
    padding: 6px 0 5px 20px;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    opacity: 0.8;
    z-index: 3;
    cursor: pointer;
}

.welcome-block__play img {
    width: 60px;
}

.welcome-block__play:hover {
    border: 1px solid #F4F6FA;
    border-radius: 50%;
    opacity: 1;
    -webkit-box-shadow: 14px 10px 38px 20px rgba(0, 0, 0, 0.64);
    box-shadow: 14px 10px 38px 20px rgba(0, 0, 0, 0.64);
}

/*                  ---------- Specialties -----------                    */

.specialties {
    padding-top: 70px;
    padding-bottom: 70px;
}

.specialties__list {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    grid-gap: 30px;
}

.block {
    height: 150px;
    background: #A3A3A3;
    border-radius: 10px;
}


/*                  ---------- Principal blog -----------                    */

.principal-blog {
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: space-between;
    background-color: #EBF5F9;
}

.principal-blog__video img {
    width: 570px;
}

.principal-blog__desc {
    width: 470px;
}

.principal-blog__title {
    margin-bottom: 22px;
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
}

.principal-blog__text {
    max-width: 470px;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 22px;
}

.principal-blog__btn {
    margin: 0;
    margin-top: 36px;
}


/*                  ---------- Benefits block -----------                    */

.benefits {
    padding-top: 70px;
    padding-bottom: 70px;
    display: grid;
    grid-template-columns: repeat(3, 370px);
    grid-gap: 30px;
}

.benefit {
    height: 150px;
    display: flex;
    padding: 25px 30px;
    background: #FFFFFF;
    box-shadow: 0px 10px 74px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.benefit__img {
    width: 100px;
    height: 100px;
    margin-right: 30px;
}

.benefit__desc__title {
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
}

.benefit__desc__subtitle {
    font-size: 18px;
    line-height: 22px;
}


/*                  ---------- News block -----------                    */

.news-block {
    display: flex;
    justify-content: space-between;
}

.news {
    width: 370px;
    height: 550px;
    background: #FFFFFF;
    box-shadow: 0px 10px 74px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.news__img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
}

.news__desc {
    padding: 20px 30px 30px;
}

.news__desc__date {
    padding-bottom: 15px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 24, 33, 0.65);
}

.news__desc__title {
    height: 144px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.news__desc__link {
    font-size: 18px;
    line-height: 22px;
}


/*                  ---------- Feedback block -----------                    */

.feedbacks {
    padding-top: 70px;
    padding-bottom: 70px;
}

.feedback {
    min-width: 100%;
    display: flex;
    /* vertical-align: bottom; */
    align-items: flex-end;
    margin-top: 30px;
}

.feedback img {
    width: 100px;
    height: 100px;
}

.feedback:first-child {
    margin-top: 0;
}

.feedback--right {
    justify-content: right;
}

.feedback__img {
    border-radius: 50%;
    margin-right: 30px;
}

.feedback--right .feedback__img {
    margin: 0px;
    margin-left: 30px;
}

.feedback__desc {
    width: 570px;
    height: 270px;
    padding: 40px 50px;
    background: #FFFFFF;
    box-shadow: 0px 10px 74px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.feedback__desc__title {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.feedback__desc__subtitle {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 24, 33, 0.65);
}

.feedback__desc__text {
    font-size: 18px;
    line-height: 22px;
}


/*                  ---------- Partners block -----------                    */

.partners {
    padding-bottom: 70px;
}

.partners-slide {
    display: flex;
    justify-content: space-between;
}

.partners__img {
    width: 270px;
    height: 270px;
}


/*                  ---------- Footer -----------                    */

.footer {
    background: #001821;
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__map {
    width: 570px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
}

.footer__map img {
    border-radius: 10px;
}

.footer__infos {
    display: grid;
    grid-template-columns: repeat(2, 270px);
    grid-gap: 40px 30px;
}

.footer__info__title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 24px;
    line-height: 109.04%;
    color: #F4F6FA;
}

.footer__info__text {
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 109.04%;
    color: #F4F6FA;
}

.footer__info__text:last-child {
    margin-bottom: 0;
}

.footer__info__social {
    width: 210px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social__img {
    max-width: 25px;
    max-height: 25px;
}


/*                  ---------- Rights block -----------                    */

.rights {
    padding: 28px 0;
    background: #000A0E;
}

.rights__text {
    text-align: center;
    font-size: 14px;
    line-height: 109.04%;
    color: #F4F6FA;
}

/*                  ---------- Responsive Styles -----------                    */

/*  Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    section {
        padding: 0 5px;
    }

    .link__arrdess {
        display: none;
    }

    .link__mail {
        display: none;
    }

    .site-name {
        max-width: 200px;
        font-size: 11px;
        line-height: 12px
    }

    .header__nav {
        display: none;
    }

    .header__nav__burger {
        display: flex;
    }

    .subdivisions {
        display: block;
    }

    .subdivision {
        width: 100%;
        margin: 20px 0;
    }

    .subdivision:last-child {
        display: none;
    }

    .welcome-block {
        display: block;
    }

    .welcome-block__desc {
        width: 100%;
    }

    .welcome-block__title {
        text-align: center;
    }

    .welcome-block__text {
        text-align: justify;
    }

    .welcome-block__prev img {
        width: 100%;
    }

    .specialties {
        display: none;
    }

    .principal-blog {
        display: none;
    }

    .benefits {
        padding-top: 70px;
        padding-bottom: 70px;
        display: grid;
        grid-template-columns: repeat(2, 48%);
        grid-gap: 15px;
    }

    .benefit {
        display: block;
        padding: 15px 20px;
    }

    .benefit__desc {
        padding: 0 auto;
    }

    .benefit__desc__title {
        font-weight: 900;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
    }

    .benefit__desc__subtitle {
        font-size: 12px;
        line-height: 22px;
        text-align: center;
    }

    .benefit__img {
        display: flex;
        align-self: center;
        width: 40px;
        height: 40px;
        margin: 0 auto;
        /* margin-right: 30px; */
    }

    .news-block {
        display: block;
    }

    .news {
        width: 100%;
        margin-top: 20px;
    }

    .feedback img {
        width: 50px;
        height: 50px;
    }

    .feedback__desc {
        padding: 15px 20px;
    }

    .feedback__desc__title {
        font-size: 20px;
    }

    .feedback__desc__text {
        font-size: 13px;
        line-height: 17px;
    }

    .partners {
        display: none;
    }

    .footer {
        display: block;
    }

    .footer__map {
        width: 100%;
        height: 200px;
    }

    .footer__infos {
        display: block;
    }

    .footer__info {
        margin-top: 25px;
    }
}

/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    section {
        padding: 0 calc(50% - 270px);
    }
}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    section {
        padding: 0 calc(50% - 360px);
    }
}

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    section {
        padding: 0 calc(50% - 480px);
    }
}

/*  Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    section {
        padding: 0 calc(50% - 580px);
    }
}